global:
  cluster-name: <<CLUSTERNAME>>

aws-service-operator:
  operator:
    account: "931486170612"
    cluster: polaris       # Can't contain any weird characters!
    region: eu-west-1

external-dns:
  image:
    name: registry.opensource.zalan.do/teapot/external-dns
    tag: v0.5.4
  logLevel: debug
  rbac:
    create: true

cluster-autoscaler:
  rbac:
    create: true
  cloudProvider: aws
  awsRegion: eu-west-1
  autoscalingGroups:
   - name: nodes.<<CLUSTERNAME>>
     minSize: 1
     maxSize: 6

nginx-ingress:
  rbac:
    create: true
  controller:
    publishService:
      enabled: true
    extraArgs:
      enable-ssl-passthrough: true

flux:
  helmOperator:
    create: true
    git:
      chartsPath: "ref4/cluster-repo/charts"
  git:
    url: "git@github.com:davidwebstar34/ExampleFluxRepo.git"
    branch: "master"
    path: "ref4/cluster-repo/"
    user: "polaris"
    email: "davidw4@synthesis.co.za"
    setAuthor: true
    pollInterval: "1m"
  registry:
    pollInterval: "1m"

dex:
  secret:
    tlsName: dex-tls
    caName: dex-ca
  ingress:
     host: dex.<<CLUSTERNAME>>
  config:
    issuer: https://dex.<<CLUSTERNAME>>
  connectors:
  - type: microsoft
    id: microsoft
    name: Microsoft
    config:
      clientID: 33d82f8b-4db4-4d99-b610-0768ddd246df
      clientSecret: lmwcHDOCUH74+zgbA152:]!
      redirectURI: https://dex.<<CLUSTERNAME>>/callback
    #  tenant: organizations
    #
    # Also - edit the application manifest (in MS Apps) and
    # edit to include the valid reply urls:
    # "replyUrls": [
    #    "https://dex.ref4.onlabs.cloud/callback"
    #]
    #
    # Then - need to approve the access using something like this:
    #
    # https://login.microsoftonline.com/94cfdb85-3d23-4849-a066-5cdad965ccd8/adminconsent?client_id=33d82f8b-4db4-4d99-b610-0768ddd246df
  staticClients:
  - id: kubectl-access
    redirectURIs:
    - 'http://127.0.0.1:5555/callback'
    - 'https://login.<<CLUSTERNAME>>/callback/<<CLUSTERNAME>>'
    name: 'Kubectl Access'
    secret: rkKR4TX1RsK8OvVVufe45KIsuxN4A86B
  enablePasswordDB: true
  staticPasswords:
  - email: "admin@example.com"
    # bcrypt hash of the string "password"
    hash: "$2a$10$2b2cU8CPhOTaGrs1HRQuAueS7JTT5ZHsHSzYiFPm1leZck7Mc8T4W"
    username: "admin"
    userID: "08a8684b-db88-4b73-90a9-3cd1661f5466"
  - email: "retail@example.com"
    # bcrypt hash of the string "password"
    hash: "$2a$10$2b2cU8CPhOTaGrs1HRQuAueS7JTT5ZHsHSzYiFPm1leZck7Mc8T4W"
    username: "retail"
    userID: "08a8684b-db88-4b73-90a9-3cd1661f5467"

dex-k8s-authenticator:
  dexK8sAuthenticator:
    port: 5555
    debug: false
    web_path_prefix: /
    clusters:
    - name: <<CLUSTERNAME>>
      short_description: "Ref4 Cluster"
      description: "Reference number 4"
      client_secret: rkKR4TX1RsK8OvVVufe45KIsuxN4A86B
      issuer: https://dex.<<CLUSTERNAME>>
      k8s_master_uri: https://api.<<CLUSTERNAME>>
      client_id: kubectl-access
      redirect_uri: https://login.<<CLUSTERNAME>>/callback/<<CLUSTERNAME>>
      #
      # Make this particular link public in s3:
      k8s_ca_uri:
        <<DEX_CRT>>
  caCerts:
    enabled: true
    secrets:
    # Get this value by: cat k8/dex/ca/dex-ca-cert.pem | base64 [-w 0]
    - name: ca1
      filename: ca1.crt
      value:
        <<DEX_BASE64>>
  ingress:
    enabled: true
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    path: /
    hosts:
      - login.<<CLUSTERNAME>>
    tls:
      - hosts:
        - login.<<CLUSTERNAME>>
